          

            body{
                font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                font-size:10px;
            }

            .headerPage{
                color:midnightblue;
                font-size:60px;
            }

           
            h1:first-letter{
                color:#6610f2;

            }

            .subheader{
                height:8px;
                padding-left:0;
                padding-right:0;                            
            }

            .bodyTask{
                background-color:rgba(196, 153, 245, 0.308) ;
            }

            #listTasksCButton:hover{
                border:double #6f42c1;
            } 

            h2{
                font-size:20px; 
                color:midnightblue; 
            }

            h3{
                font-size:12px;
                color:#6610f2;
            }

            .bienvenue{
                font-size:25px;
            }

            #cardAddNewtask{
                background-color:rgba(196, 153, 245, 0.082);
                border:2px solid #6f42c1;
            }

            .addNewtask{
                background-color:rgba(196, 153, 245, 0.082);
                font-size:10px;
                font-family:apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
            }

            .bgpriority{
                background-color: midnightblue;
            }

            tbody {
                height: auto;
                overflow: auto;
            }

            
            tr:nth-child(2n+1){
                background-color:rgba(196, 153, 245, 0.055) ;
            }  

            tbody tr{              
                border-bottom:1px solid #6f42c1;                
                min-height: 80px; 
                max-height:150px;
                       
            } 

            tr:hover{
                background-color: rgba(155, 198, 238, 0.233);
            } 

            table{
                font-size:10px;
            }  

            .table td{
                border-bottom:1px solid #6f42c1;
            }

            .table thead th{
                border-bottom:2px solid #6f42c1;
                font-size:13px;
                color:white;
                background: #6610f2;
                text-align: left;
            }     

            .right{
                padding-top:30px;
                padding-bottom:30px;
                padding-right:30px;
                padding-left:30px;
                background-color:rgba(196, 153, 245, 0.082);
                height: 75vh;
                overflow: auto;
            } 
            
            #formTaskTable > td{
                color:purple;
            }   
            
            .textDecorationLine{
                text-decoration: line-through;
                color:grey
            } 

            #selectStatus{
                color:grey;
                font-size:10px;

            }

          

           

            
            


            